* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

section {
    width: 70rem;
    margin: auto;
}

.container {
    width: 100vw;
}


/* Navbar */

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10rem;
}

.brand img {
    height: 3rem;
}

.grow-list {
    flex-grow: 1;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-start;
    padding-left: 4rem;
    font-size: 15px;
    color: #CAD5E2;
}

.list-item {
    margin-right: 30px;
}

.list-item:hover {
    color: #000;
    cursor: pointer;
    font-weight: bold;
}

.list-item:nth-child(1) {
    color: #000;
}

.nav-button {
    border-radius: 14px;
    padding: 19px;
    font-size: 18px;
    background-color: #797ccb;
    margin-top: 20px;
    color: white;
    font-family: 'Montserrat';
    border: none;
    background-color: #5855b3;
}


/* Hero Section */

.banner-container {
    display: flex;
}

.banner-container div img {
    position: absolute;
    top: 8rem;
    right: 0;
    width: 700px;
}

.banner-container {
    width: 40%;
    margin-top: 5rem;
}

.heading-text {
    font-size: 50px;
    line-height: 1.2;
    font-weight: 600;
}

.heading-text span {
    color: #5855b3;
}

.description {
    font-size: 16px;
    color: #758283;
    line-height: 30px;
    margin: 2rem 0;
}

.hero-btn {
    padding: 1rem 3rem;
    font-size: 2rem;
    font-family: 'Montserrat';
}